// import all styles of the foo module
@import "components/foo/_foo";
@import "components/modal/_modal";

h2 {
    font-weight: bold;
    margin: 15px 0;
}

#home p, #home li {
    margin: 10px 0;
}

#home ol {
    list-style: decimal;
}