    <button ng-click='$ctrl.toggleModal()' class="btn btn-primary">Add New Product</button>
    <my-modal show='$ctrl.modalShown' modal-title='"Add New Product"' width='400px' min-height='60%'>
        <div>
            <form name='productForm' novalidate class="simple-form" role="form">
                <div class="form-group">
                    <label for="name">Product Name: </label>
                    <input type="text" class="form-control" ng-model="$ctrl.product.name"
                        name="name" required minlength="2" maxlength="40"
                        ng-model-options="{ updateOn: 'default blur', debounce: { default: 1000, blur: 0 } }">
                    <div ng-show="productForm.$submitted || productForm.name.$dirty">
                        <span ng-show="productForm.name.$error.required">{{ 'PRODUCT_REQUIRED' | translate }}</span>
                        <span ng-show="productForm.name.$error.minlength">{{ 'PRODUCT_MIN_LENGTH' | translate }}</span>
                    </div>
                    {{$ctrl.getItemState(productForm.name)}}
                </div>
                <div class="form-group">
                    <label for="vendor">Vendor: </label>
                    <input type="text" class="form-control" ng-model="$ctrl.product.vendor"
                        name="vendor">
                </div>

                <div class="form-group">
                    <label for="permalink">Permalink: </label>
                    <input type="text" class="form-control" ng-model="$ctrl.product.permalink"
                        name="permalink" permalink permalink-unique required maxlength="40">
                    <div ng-show="productForm.$submitted || productForm.permalink.$dirty">
                        <span ng-show="productForm.permalink.$error.required">{{ 'PERMALINK_REQUIRED' | translate }}</span>
                        <span ng-show="productForm.permalink.$error.permalink">{{ 'PERMALINK_NOT_VALID' | translate }}</span>
                    </div>
                    {{$ctrl.getItemState(productForm.permalink)}}
                </div>

                <div class="form-group">
                    <label for="imageUrl">Image Url: </label>
                    <input type="text" class="form-control" ng-model="$ctrl.product.imageUrl"
                        name="imageUrl">
                </div>

                <div class="form-group">
                    <label for="snippet">Short Description: </label>
                    <input type="text" class="form-control" ng-model="$ctrl.product.snippet"
                        name="snippet">
                </div>

                <div class="form-group">
                    <label for="price">Price: </label>
                    <input type="text" class="form-control" ng-model="$ctrl.product.price"
                        name="price">
                </div>

                <div class="form-group" class="form-control">
                    <label for="currency">Currency: </label>
                    <select ng-model="$ctrl.product.currency"  name="currency">
      			        <option ng-repeat="c in $ctrl.currencies">{{c}}</option>
    		        </select>
                </div>

                <input type="submit" ng-click="$ctrl.update()" value="Save" class="btn btn-default" />
                <input type="button" ng-click="$ctrl.reset(productForm)" value="Reset" class="btn btn-default" />
            </form>
           <!-- <pre>user = {{$ctrl.product | json}}</pre>
            <pre>master = {{$ctrl.productMaster | json}}</pre>-->
        </div>

    </my-modal>