<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="product in $ctrl.products | filter:$ctrl.query | orderBy:$ctrl.orderProp"
            class="thumbnail phone-list-item">
          <a href="#!/products/{{product.id}}" class="thumb">
            <img ng-src="/api/products/{{product.imageUrl}}" alt="{{product.name}}" />
          </a>
          <a href="/add-product">{{product.name}}</a>
          <p>{{product.snippet}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
