<h2>Products List</h2>
<br />

<div class="container-fluid">
  <form role="form" class="row">
    <div class="col-md-2 sidebar">
      <!--Sidebar content-->

      <div class="form-group">
        <label for="search">Search:</label> 
        <input ng-model="$ctrl.query" id="search" />
      </div>

      <div class="form-group">
        <label for="sort">Sort by:</label> 
        <select ng-model="$ctrl.orderProp" id="sort" >
          <option value="name">Alphabetical</option>
          <option value="id">Newest</option>
        </select>
      </div>

  	  <button ng-click='$ctrl.toggleModal()' class="btn btn-primary">Add New Product</button>

     <!-- <a href="/add-product" class="btn btn-primary">Add New Product</a> -->

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="products">
        <li ng-repeat="product in $ctrl.products | filter:$ctrl.query | orderBy:$ctrl.orderProp"
            class="thumbnail product-list-item">
          <a href="#!/products/{{product.id}}" class="thumb">
            <img ng-src="/api/products/{{product.imageUrl}}" alt="{{product.name}}" />
          </a>
          <a href="/add-product">{{product.name}}</a>
          <p>{{product.snippet}}</p>
          <p>{{product.price | fraction: 2}}</p>
        </li>
      </ul>

    </form>
  </div>
  <add-product class="row" show="$ctrl.addProductModalShown"></add-product>
</div>
