<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>TodoMVC in Pure TypeScript</title>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/dialog.css">
</head>

<body>
	<div ng-app="invoice5" ng-controller="InvoiceController as invoice">
		<b>Invoice:</b>
		<div>
			Quantity: <input type="number" min="0" ng-model="invoice.qty" required>
		</div>
		<div>
			Costs: <input type="number" min="0" ng-model="invoice.cost" required>
			<select ng-model="invoice.inCurr">
      			<option ng-repeat="c in invoice.currencies">{{c}}</option>
    		</select>
		</div>
		<div>
			<!--Add Currency: <input type="text" min="0" ng-model="invoice.newCurrency" 
					on-enter="invoice.addCurrency()">-->
			Add Currency: <input type="text" min="0" ng-model="invoice.newCurrency" 
				ng-keypress="invoice.keypressed($event.keyCode)"> 
		</div>
		<div>
			<b>Total:</b>
			<span ng-repeat="c in invoice.currencies">
      			{{invoice.total(c) | currency:c:5}}
			</span>
			<button class="btn" ng-click="invoice.pay()">Checkout</button>
		</div>
		<dialog dialog-title="Hello {{invoice.username}}." visible="invoice.showPaymentDialog" 
				on-cancel="invoice.showPaymentDialog=false" 
				on-ok="invoice.showPaymentDialog=false">
			Dear {{invoice.username}}, you have to pay us {{invoice.total(invoice.inCurr) | currency:invoice.inCurr}} to complete the purchase.
		</dialog> 
	</div>
</body>

</html>